body {
	background: linear-gradient(120deg, #ff1919 0, #ffffff 100%) right bottom no-repeat;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.logo {
	height: 100px; 
	margin-top: -10px; 
	padding: 16px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#banner {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	z-index: -2;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  z-index: 5;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

#dropdown-content,#menu {
	flex-direction: column;
	list-style-type: none;
	overflow-x: hidden;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

#dropdown-content {
	display: none;
 	position: absolute;
 	height: auto;
 	width: 12%;
 	z-index: 2;
 	overflow-x: hidden;
}

#menu {
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

#dropdown-content a, #menu a {
	padding: 6px 8px 6px 16px;
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align: left;
	font-size: 18px;
}

#menu a:hover {
	opacity: 0.75;
}

section {
	display: flex;
	justify-content: space-between;
}

aside {
	width: 15%;
}

article {
	display: flex;
	flex-direction: column;
	width: 85%;
	background-color: rgba(255, 255, 255, 0.05);
}

article div {
	margin-left: 100px;
	margin-right: 150px;
}

embed {
	width: 100%;
	height: auto;
}

.event {
	list-style-type: none;
	text-align: center;
	line-height: 28px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0 50px;
	background-color: rgba(255, 255, 255, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer div {
	flex: 1 1 0;
}

footer ul {
	list-style-type: none;
}

#followUs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#fbLogo, #instaLogo, #ytLogo {
	height: 30px;
	padding: 0 10px;
}

#ytLogo {
	height: 31px;
}

@media (max-width: 700px) {
	nav ul {
		flex-direction: column;
		padding: 16px;
	}

	article div {
	margin-left: 25px;
	margin-right: 50px;
	}	

	#ytLogo {
	padding: 10px;
}
}